
@media screen and (max-width: 800px) {
    body{
      padding: 0 8px;
    }
    header{
    }
    .row-1{
      gap: 10px;
    }
    main section{
    }
    .section{
      
      flex-direction: column;
      align-items: center;
    }
    .section img{
      /* width: 80%; */
      height: 350px;
    width: 280px;
    }
    .section1{
    }
    .about{
      display: none;
    }
    .buttons{
        display: flex;
        /* background-color: rebeccapurple; */
        margin-left: 0;
        height: 70px;
        padding: 5px;
    }
    .buttons button{
        width: 145px;
        /* height: 65px; */
    }
 }