.add-to-list-popup.popup-modal {
    background-color: rgba(0, 0, 0, 0.686);

}

.add-to-list-popup main {
    width: 400px;
    /* max-width: calc(100% - 10px); */
    height: 430px;
    border: 1px solid rgb(102, 102, 102);
    background: #1a1a1a;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    border-radius: 10px;
    padding: 5px;
}

.add-to-list-popup main .close-btn {
    align-self: flex-end;
    --size: 21px;
    width: var(--size);
    height: var(--size);
    padding: 3px;
}

.add-to-list-popup main h3 {
    font-size: 16px;
    margin-top: 5px;
    padding: 0 10px;
}

.add-to-list-popup .search-input-1-box {
    margin-top: 10px;
    height: 35px;
    background: rgba(117, 117, 117, 0.107);
    width: calc(100% - 40px);
    margin-left: 0;
    margin-block: 20px 10px;
}

.add-to-list-popup .search-input-1-box input{
    background-color: transparent;
}
.add-to-list-popup .search-input-1-box input::placeholder {
    font-size: 12.5px;
}

.add-to-list-popup ol {
    display: flex;
    flex-direction: column;
    height: 200px;
    overflow: hidden auto;
    width: calc(100% - 50px);
    padding-right: 2px;
}

.add-to-list-item {
    --height: 55px;
    margin-bottom: 2px;
    height: var(--height);
    /* background: #000;
    border: 1px solid grey; */
    min-height: var(--height);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 5px;
    border: 1px solid transparent;
    border-radius: 5px;
}
.add-to-list-item.active{
    border-color: rgb(141, 104, 186);
    background: rgba(144, 99, 199, 0.248);

}
.add-to-list-item img {
    --size: 36px;
    height: 38px;
    width: var(--size);
    border-radius: 6px;
}

.add-to-list-item .desc {
    height: max-content;
    align-self: flex-end;
    margin-bottom: 5px;
}

.add-to-list-item .title {
    font-size: 13px;
}

.add-to-list-item .count-box {
    font-size: 12px;
    gap: 5px;
    margin-top: 2px;
    color: rgb(180, 180, 180);
}

.add-to-list-item .count-box svg {
    --size: 18px;
    width: var(--size);
    height: var(--size);
}

.add-to-list-item .marker {
    margin-left: auto;
    height: 22px;
}

.add-to-list-item .marker p {
    font-size: 11px;
}

.add-to-list-item .marker svg {
    --size: 14px;
    width: var(--size);
    height: var(--size);
}

.add-to-list-popup .create-btn {
    margin-block: 15px;
    display: flex;
    align-items: center;
    gap: 7px;
    color: rgb(247, 247, 247);
    border: 1px solid rgba(128, 128, 128, 0.468);
    font-size: 12px;
    padding: 4px 18px;
    border-radius: 5px;
}

.add-to-list-popup .create-btn svg {
    --size: 18px;
    width: var(--size);
    height: var(--size);
}

.add-to-list-popup .btm-action-btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: auto;
    margin-bottom: 5px;
}

.add-to-list-popup .btm-action-btns button {
    height: 30px;
    padding: 0 10px;
    color: white;
    border-radius: 6px;
    font-size: 12px;
}

.add-to-list-popup .btm-action-btns button.fill-btn {
    background: rgb(121, 43, 169);
    justify-content: center;
}



/* Create List Popup Styles */

.create-list-popup {
    background-color: rgba(0, 0, 0, 0.686);
}

.create-list-popup main{
    width: 350px;
    max-width: calc(100% - 20px);
    height: auto;
    background: #1a1a1a;
    border: 1px solid rgb(102, 102, 102);
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 15px;
}
.create-list-popup main form{
    gap: 10px;
    width: calc(100% - 25px);
}
.create-list-popup main form label{
    margin-top: 16px;
    font-size: 14px;
}
.create-list-popup main form input[type="text"], .create-list-popup main form select{
    height: 35px;
    text-indent: 10px;
    background: rgba(117, 117, 117, 0.107);
    color: white;
    border: none;
    border-radius: 5px;
}
.create-list-popup main form select{
    text-indent: 0;
    padding: 0 10px;
}

.create-list-popup .btm-action-btns {
    margin-top: 15px;
    justify-content: right;
    gap: 10px;
    flex-wrap: wrap;
}


/* Responsive Styles */
@media screen and (max-width:500px) {

    .add-to-list-popup main {
        width: 400px;
        max-width: calc(100% - 20px);
        height: 500px;
    }

    .add-to-list-popup main h3 {
        font-size: 15px;
        display: block;
        text-align: center;
    }

    .add-to-list-popup ol {
        height: 250px;
    }

    .add-to-list-item .marker p {
        font-size: 9px;
    }

    .add-to-list-item .title {
        font-size: 12px;
    }

    .add-to-list-item .count-box {
        font-size: 11px;
    }
}


