header {
    display: flex;
    padding: 2.7% 3%;
    padding-bottom: 1.3%;
    background-image: radial-gradient(#00000087, transparent);
    gap: 15px;
    position: fixed;
    z-index: 10;
    width: 96%;
    top: 2%;
    transition: all 0.5s ease-in-out;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.left-carousel-top {
    top: 0;
}

.left-carousel-bounds {
    background: #272424;
    top: 0;
}

header .title {
    font-size: 25px;
    margin-right: 10px;
    text-decoration: none;
    color: inherit;
}

.side-content,
.title-bar-nav {
    display: flex;
    margin: auto 0;
    gap: 20px;
    align-items: center;
}

.title-bar-nav {
    margin-right: auto;
    font-family: var(--custom-font-style);
}

nav ol {
    display: flex;
    gap: 15px;
    align-items: flex-end;
    list-style: none;
}

header li {
    display: flex;
    flex-direction: column;
}

header li a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #9ca3af;
}

li.current-page a {
    font-size: 16px;
    color: whitesmoke;
    gap: 2px;
}

header li hr {
    height: 0;
    width: 0;
    transition: all 0.3s ease-in-out;
}

header li.current-page hr {
    width: 88%;
    height: 3px;
    background-color: var(--theme-color);
    align-self: center;
    border-radius: 3px;
}

header .search-input-box {
    --children-color: #9ca3af;
    --children-color-active: #7475ab;
    display: flex;
    position: relative;
    margin: 0 40px;
    align-self: center;
    flex: 1;
    height: 35px;
    box-shadow: 2px 2px 1px 0.5px rgb(158, 164, 179);
    border-radius: 10px;
    transition: border-color 0.2s, box-shadow 0.2s;
    background-color: rgba(245, 245, 245, 0.813);
}

.search-input-box .input-btn {
    background-color: transparent;
    border-radius: 10px 0 0 10px;
    display: flex;
    padding: 5px;
}

.search-icon {
    height: 83%;
    margin: auto;
    color: var(--children-color);
}

.search-icon.active {
    color: var(--children-color-active);
}

.input-box {
    display: flex;
    flex: 1;
}

.input-box input {
    background-color: transparent;
    border-radius: 0 10px 10px 0;
    padding-left: 10px;
    flex: 1;
    display: flex;
    font-style: var(--font-style);
    letter-spacing: 0.5px;
}

.search-input-box label {
    position: absolute;
    padding-left: 10px;
    top: 0.6rem;
    pointer-events: none;
    font-style: var(--font-style);
    font-size: 15px;
    color: var(--children-color);
    transition: top 0.2s, font-size 0.2s, color 0.2s, background-color 0.2s;
}

.search-label.active {
    top: -0.5rem;
    font-size: 0.75rem;
    background-color: white;
    color: var(--children-color-active);
}

.side-content.right {
    margin-left: auto;
}

.side-content button,
.side-content .btn,
.title-bar-nav button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-content svg,
.title-bar-nav svg {
    background-color: transparent;
    color: whitesmoke
}

button.subscribe-btn {
    color: inherit;
    font-size: 15px;
    letter-spacing: o.5px;
    background-color: rgb(21, 110, 243);
    height: 35px;
    padding: 0 20px;
    font-style: var(--font-style);
    border-radius: 20px;
}

.user-menu-box {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.noti-btn,
.user-menu-box button {
    height: 30px;
    border-radius: 100%;
    padding: 5px 2px;
}

header .outline-white {
    width: 100px;
    height: 32px;
    font-size: 16px;
    font-family: var(--custom-font-style);
}

header .menu-btn {
    padding: 3px;
    display: none;
    height: 25px;
    height: max-content;
    color: var(--svg-primary-bg)
}

.side-menu-modal {
    position: fixed;
    top: 1px;
    z-index: 10;
    height: 100%;
    width: 100%;
    background-color: rgba(18, 18, 18, 0.33);
}

.side-menu-content-box {
    position: relative;
    width: 45vw;
    background: green;
    background-color: rgb(40, 40, 40);
    padding: 10px;
    padding-bottom: 20px;
}

.side-menu-content-box a {
    align-items: center;
    display: flex;
    padding-left: 15px;
    padding-right: 10px;
    width: 100%;
    height: 50px;
    gap: 10px;
    color: #a8aeb8;
    text-decoration: none;
}

.side-menu-content-box nav a:hover {
    background-color: rgba(18, 18, 18, 0.433);
}

a.current-page {
    color: whitesmoke;
}

.side-menu-content-box .to-page-chevron {
    margin-left: auto;
}

.side-menu-content-box .sign-up {
    margin: 0 auto;
    padding: 0.25rem 0.425rem;
    margin-top: 10px;
    border-radius: 5px;
    border-color: rgb(107, 107, 107);
}

.side-content.right .lists-header-btn-link {
    display: none;
    height: 23px;
    border-radius: 2px;
    padding: 1px 0;
}

.lists-header-btn-link svg {
    height: 100%;
}



.popup-modal {
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: #ffffff94;
    border: 1px solid grey;
    align-self: center;
    height: 100%;
}

.popup-modal span{
    background-color: var(--modal-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    height: 100%;
    width: 100%;
}
.popup-modal .close-btn {
    --size: 30px;
    height: var(--size);
    width: var(--size);
    color: var(--svg-primary-bg);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}