.call-to-action{
    overflow: hidden;
}
.call-to-action .case{
    /* display: none; */
    padding: 1rem;
    flex-direction: column;
    border: 1px solid grey;
    width: max-content;
    align-self: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
}
.call-to-action .case h3{
    font-size: 2rem;
}
.call-to-action .case form{
    flex-direction: column;
    gap: 10px;
    width: 70%;

}
.call-to-action .case form .row{
    /* flex-direction: column; */
    
}
.call-to-action .case form input{
    height: 35px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid grey;
    color: whitesmoke;
    text-indent: 10px;
    /* width: 5.4375rem; */
}
.call-to-action .case button.sign-up{
    font-size: 1rem;
    /* width: max-content;
    height: max-content; */
    /* padding: 0.50rem; */
}

.call-to-action .sign-in-box{
    font-size: 13px;
    color: grey;
    align-items: center;
    gap: 10px;
}

.call-to-action .sign-in-box button.sign-in{
    /* font-size: 10px; */
    border-radius: 6px;
    width: max-content;
    padding: 0 10px;
}