.forgot-password-page {
    gap: 1.2rem;
    padding: 1.2rem;
    /* background: rgb(63, 56, 56); */
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.forgot-password-page h1 {
    align-self: center;
}

.prompt-box {
    width: 340px;
    max-width: 99.9%;
    border: 1px solid grey;
    border-radius: 13px;
    flex-direction: column;
    /* gap: 15px; */
    padding: 1rem 1.2rem;
    align-items: center;
    text-align: center;
}

.prompt-box p {
    font-size: 13px;

}

/* Choices Component */
.choices-btns-box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    margin-block: 1rem;
    justify-content: center;
}

.choices-btns-box button {
    color: inherit;
    font-size: 12px;
    height: 50px;
    width: 140px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.forgot-password-page button.choice:hover {
    transform: scale(1.05);
    box-shadow: 1px 1px 1px gray;
    background-color: transparent;
}

.forgot-password-page button.choice.selected {
    background-color: rgb(151, 129, 159);
    outline: 1px rgb(88, 69, 88) solid;
    border: 1.2px var(--accent-color) solid;
    transform: scale(1);
}

.mt-8px {
    margin-top: 8px;
}

/* Sent Link */

.sent-icon {
    color: rgb(22 163 74);
    background: rgb(220 252 231/1);
    --size: 60px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    padding: 10px;
    margin-block: 10px;
}

.prompt-box h3 {
    font-size: 16px;
    margin-block: 8px;
}

.prompt-box .sent-email {
    display: flex;
    gap: 10px;
    /* justify-items: center; */
    align-items: center;
    width: max-content;
    /* border: 1px solid grey; */
    margin: 0.6rem;
    font-size: 14px;
    border-radius: 10px;
    color: var(--accent-color);
    background-color: #383839;
    padding: 0.5rem;
}

.prompt-box .sent-email svg {
    color: var(--accent-color);
    --size: 20px;
    height: var(--size);
    width: var(--size);
}

.didnt-recieve-msg {
    font-size: 13px;
    margin-block: 20px;
}

.long-msg {
    margin-top: 10px;
}

.prompt-box .submit {
    width: max-content;
    border-radius: 5px;
    padding: 0.4rem 0.6rem;

}

.progress-box {
    gap: 10px;
}

span.progress-box button {
    --size: 20px;
    height: var(--size);
    width: var(--size);
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    background: #ffffff14;
}

span.progress-box svg.active {
    color: white;
}

span.progress-box svg {
    color: grey;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    left: -6px;
    margin: auto;
    --size: 30px;
    height: var(--size);
    width: var(--size);
}


/* Loading Widgets */
.loading-box {
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.loading-box span {
    margin-bottom: 15px;
    border-radius: 10px;
    height: 28px;
    background: linear-gradient(100deg,
            rgba(255, 255, 255, 0.1) 25%,
            rgba(255, 255, 255, 0.2) 50%,
            rgba(255, 255, 255, 0.1) 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
    from {
        background-position: -200% 0;
    }

    to {
        background-position: 200% 0;
    }
}

/* SentResetPSEmail */
span.sent-icon-loading {
    --size: 60px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    margin-block: 10px;
}

span.header-loading {
    width: 50%;
    margin-bottom: 10px;
}

.h3-msg-loading {
    width: 90%;
}

span.sent-email-loading {
    width: 70%;
    height: 35px;
}

span.long-msg-loading {
    width: 85%;
    height: 50px;
}

.didnt-recieve-msg-loading {
    width: 34%;
}

.submit-loading {
    width: 60px;
}

/* ChoicesBox */
.btns-box{
    display: flex;
    /* flex-wrap: wrap; */
    gap: 10px;
}
.btns-box span{
    height: 50px;
    width: 140px;
}
span.choice-btn{
    width: 130px;
    height: 35px;
}