.movie-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 0.25rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.movie-page section{
    width: 100%;
    overflow: hidden;
    /* margin-top: 2rem; */
}
.movie-page section h4{
    margin-bottom: 1rem;
    font-size: 20px;
}
.movie-page section.overview-box p{
    color: rgb(166, 173, 184);
    font-size: 13px;    
}
.movie-page .movie-poster-case{
    height: 300px;
    border-radius: 5px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 1rem;
    position: relative;
}
.movie-page .movie-poster-case .play-btn{
    color: var(--svg-primary-bg);
    --size:5rem;
    height: var(--size);
    width: var(--size);
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.movie-page .movie-poster-case .play-btn svg{
    height: 100%;
    width: 100%;
}


.movie-page .bookmark-btn{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: var(--svg-primary-bg);
    font-size: 1.5rem;
    cursor: pointer;
}

.movie-page .cast-box{
    display: flex;
    gap: 15px;
    overflow: scroll hidden;
    /* background-color: #1c1c1c; */
}

.movie-page .cast-box .cast-member{
    --card-height: 300px;
  --card-info-height: 65px;

    min-width: 200px;
    padding: 10px;
    gap: 3px;
    border-radius: 10px;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Important for names longer than box width*/
    transition: 0.3s;
}
.movie-page .cast-box .cast-member img{
    height: calc(100% - var(--card-info-height));
    border-radius: 50%;
    --size:120px;
    height: var(--size);
    width: var(--size);
}
.movie-page .cast-box .cast-member p{
    font-size: 13px;
    /* height: 20px; */
}

@media screen and (max-width:500px) {
    .movie-page .cast-box{
        gap: 10px;
    }
    .movie-page .cast-box .cast-member{
        min-width: 150px;
    }
    .movie-page .cast-box .cast-member img{
        --size:100px;
    }
    .movie-page .cast-box .cast-member p{
        font-size: 12px;
    }
}