.movie-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 0.25rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.movie-page section{
    width: 100%;
    overflow: hidden;
    /* margin-top: 2rem; */
}
.movie-page section h4{
    margin-bottom: 1rem;
    font-size: 20px;
}

.movie-page .movie-poster-case{
    height: 300px;
    border-radius: 5px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    /* padding: 1rem; */
    position: relative;
}


.movie-page .content{
    align-items: end;
    padding-left: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.25rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.movie-page .content .details{
    font-size: 1.4rem;
    flex: 1;
}
.movie-page .content .details h3{
    font-size: 1.825rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 0.5rem;
}
.movie-page .genres-box{
    gap: 5px;
    flex-wrap: wrap;
    font-size: 10px;
}

.movie-page .genres-box p{
    color: var(--accent-color);
    background: #252525;
    border-radius: 5px;
    padding: 0.125rem 0.25rem;
}


.movie-page .movie-poster-case .play-btn{
    color: var(--svg-primary-bg);
    --size:5rem;
    height: var(--size);
    width: var(--size);
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.movie-page .movie-poster-case .play-btn svg{
    height: 100%;
    width: 100%;
}


.movie-page .bookmark-btn{
    margin-bottom: 2rem;
    color: var(--svg-primary-bg);
    font-size: 1.5rem;
    cursor: pointer;
}

.movie-page section.overview-box p{
    color: rgb(166, 173, 184);
    font-size: 13px;
    /* font-family:  sans-serif; */
}
.movie-page section.rating-box table {
    font-size: 13px;
    --smaller-row-width: 150px;
    --lagre-row-width: 200px;
    border-collapse: separate; /* Allows rounded corners */
    border-spacing: 0; /* Avoid gaps between cells */
    border: 1px solid rgb(146, 146, 146); /* Outer border */
    border-radius: 5px;
}


.movie-page .rating-box table tr td:nth-child(1) {
    width: var(--smaller-row-width);
    display: flex;
    align-items: center;
}
.movie-page .rating-box table tr td:nth-child(2) {
    width: var(--lagre-row-width);
}

.movie-page .rating-box table tr td {
    padding: 6px;
    border-style: solid;
}
.movie-page .rating-box table tr td img{
    height: 20px;
    width: 20px;
    margin-right: 5px;

}
.movie-page .rating-box table tr:first-child td {
    border-color: rgb(133, 134, 137);
    color: rgb(234, 232, 232);
}

.movie-page .rating-box table tr:not(:first-child) td{
    color: rgb(175, 176, 177);
}
.movie-page .rating-box table tr:not(:first-child) td:nth-child(2){
    font-style: italic;
}
.movie-page .rating-box table tr:not(:last-child) td{
    border-bottom: 1px solid rgb(175, 176, 177);
}


.movie-page .rating-box table tr td:first-child {
    border-right: 1px solid rgb(146, 146, 146) !important;
}

.movie-page .cast-box{
    display: flex;
    gap: 15px;
    overflow: scroll hidden;
}

.movie-page .cast-box .cast-member{
    --card-height: 300px;
  --card-info-height: 65px;

    min-width: 200px;
    padding: 10px;
    gap: 3px;
    border-radius: 10px;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Important for names longer than box width*/
    transition: 0.3s;
}
.movie-page .cast-box .cast-member img{
    height: calc(100% - var(--card-info-height));
    border-radius: 50%;
    --size:120px;
    height: var(--size);
    width: var(--size);
}
.movie-page .cast-box .cast-member p{
    font-size: 13px;
    /* height: 20px; */
}

@media screen and (max-width:500px) {
.movie-page .content .details h3{
    font-size: 1.3rem;
}
.movie-page .cast-box{
    gap: 10px;
}
.movie-page .cast-box .cast-member{
    min-width: 150px;
}
.movie-page .cast-box .cast-member img{
    --size:100px;
}
.movie-page .cast-box .cast-member p{
    font-size: 12px;
}

}