
.svg-solid-yellow{
    fill: yellow;
    color: yellow;
  }
  .svg-outline-yellow{
    color: yellow;
  }
  .cursor-pointer{ cursor: pointer; }
  .inline-block{
    display: inline-block;
  }
  .display-flex{
    display: flex;
  }
  .algin-left{
    align-items: flex-end;
  }
  .btn-fill-white{
    background-color: rgb(232, 232, 232);
    color: black;
  }
  .btn-outline-white{
    /* background-color: black; */
    color: inherit;
  }