.screen{
    flex: 1;
    /* height: 60%; */
    border: 3px inset rgb(197, 178, 178);
    border-radius: 3px;
    width: calc(85%);
    align-self: center;
    margin-top: 40px;
    margin-bottom: 12px;
    background-color: rgb(60, 187, 60);
    background-color: rgb(152, 186, 152);
    border-color:rgb(128, 155, 125);
    display: flex;
    overflow: hidden;
    /* background-color: green; */
    position: relative;
}

/* Container with fixed width and height */
.game{
    width: calc(73% - 12px);
    /* width:70%; */
    margin: 4px;
    background-color: rgba(6, 137, 6, 0.022);
    padding: 1px;
    padding-top: 1.5px;
    position: relative;
    text-align:center;
    font-size: 0;
    border: 1px inset  rgba(3, 70, 3, 0.409);
}

/* Each grid item */
.box {
    display: inline-block;
    background-color:#26262638;
    border: 1px inset rgba(0, 128, 0, 0.244);
    margin: 1px;
    /* background-color: white; */
}


.screen .right-side{
    /* flex: 1; */
    width: 35%;
    font-family: "Orbitron", sans-serif;
    font-weight: 500;
    font-size: 10px;
    /* background-color: cornflowerblue; */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-block:10px;
}
.right-side p{
    margin-top: 3px;
}
.incoming-box{
    /* flex:1; */
    margin-top: auto;
    border: 1px solid grey;
    width: 65%;
    align-self: center;
    height: 70px;
}

.lvl_nd_speed p{
    margin-block: 5px;
}
.gif-box{
    height: 60px;
    /* background-color: red; */
    width: 80%;
}
.info-box{
    height: 35px;
    width: 80%;
    /* background-color: green; */
}
