.SectionPreview {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* min-height: 50vh; */
    height: max-content;
    margin-bottom: 10px;
}

.SectionPreview .header {
    display: flex;
    gap: 15px;
    margin-left: 10px;
    margin-bottom: 20px;
    height: 40px;
    align-items: center;
}

.SectionPreview h3 {
    font-size: 25px;
    
}
.SectionPreview .preview-media-type-btns-case {
    margin-left: auto;
    width: 140px;
    height: 80%;
}

.SectionPreview .preview-media-type-btns-case:has(button.one-type) {
    width: 70px;
}

.SectionPreview .preview-media-type-btns-case button {
    width: 50%;
    border: 1px solid grey;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font-size: 12px;
}

.SectionPreview .preview-media-type-btns-case button.active {
    border: none;
}

.SectionPreview .preview-media-type-btns-case button:first-child {
    border-radius: 5px 0 0 5px;
    border-right-style: none;
}

.SectionPreview .preview-media-type-btns-case button:nth-child(2) {
    border-radius: 0 5px 5px 0;
}

.SectionPreview .preview-media-type-btns-case button.one-type {
    width: 100%;
    border-radius: 5px;
}

.SectionPreview .collection {
    width: 100%;
    overflow: scroll hidden;
    position: relative;
    display: flex;
    gap: 15px;
    list-style: none;
    padding-bottom: 20px;
    padding-left: 22px;
    padding-right: 22px;
}

.SectionPreview .collection::-webkit-scrollbar {
    display: none;
}

.SectionPreview .collection.horizontal-scrollbar__items--faded-start {
    -webkit-mask-image: linear-gradient(90deg, transparent 0, #060d17 5%);
    mask-image: linear-gradient(90deg, transparent 0, #060d17 5%);
}

.SectionPreview .collection.horizontal-scrollbar__items--faded-end {
    -webkit-mask-image: linear-gradient(90deg, #060d17 90%, transparent);
    mask-image: linear-gradient(90deg, #060d17 90%, transparent);
}

.SectionPreview .collection.horizontal-scrollbar__items--faded {
    -webkit-mask-image: linear-gradient(270deg, transparent 0, #060d17 5%, #060d17 95%, transparent);
    mask-image: linear-gradient(270deg, transparent 0, #060d17 5%, #060d17 95%, transparent);
}

.SectionPreview .collection>button {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: 70%;
    width: 40px;
    background: rgb(54, 54, 53);
    align-items: center;
    display: none;
    --space-frm-edge: -5px;
}

.SectionPreview .collection>button svg {
    color: var(--svg-primary-bg);
    --size: 50px;
    height: var(--size);
    width: var(--size);
}

.collection-left-btn {
    left: var(--space-frm-edge);
}

.collection-right-btn {
    right: var(--space-frm-edge);
}

.SectionPreview .collection .card {
    --card-height: 300px;
    --card-info-height: 65px;
    width: 195px;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    flex: 0 0 auto;
    height: var(--card-height);
    overflow: hidden;
    --backdrop-bg-hover: rgba(22, 21, 22, 0.505);
    --backdrop-bg: rgba(22, 21, 22, 0.298);
    --backdrop-bg-lighter: rgba(22, 21, 22, 0.142);
}

.SectionPreview .collection .card .bookmark-btn-case {
    position: absolute;
    right: 0;
    background-color: var(--backdrop-bg);
}

.SectionPreview .card .add-to-list-btn {
    height: 40px;
    border-top-right-radius: 5px;
    color: var(--svg-primary-bg);
    margin-left: auto;
    padding: 5px;
}

.SectionPreview .card .add-to-list-btn:hover {
    background: rgba(61, 59, 59, 0.522);
}

.SectionPreview .card .add-to-list-btn svg {
    height: 100%;
}

.SectionPreview .collection .card img {
    background-color: rgb(81, 78, 79);
    height: calc(var(--card-height) - var(--card-info-height));
}

.SectionPreview .collection .card .card-info {
    display: flex;
    flex-direction: column;
    height: var(--card-info-height);
    padding: 10px 5px 10px 10px;
    background-color: var(--backdrop-bg);
    --card-rate-primary-color: rgb(201, 201, 201);
}

.SectionPreview .collection .card .card-info .title-box-pc{
    margin-top: auto;
    font-size: 13px;
}
.SectionPreview .collection .card .card-info .title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(185, 185, 185);
}

.SectionPreview .collection .card .card-info .details-box{
    display: flex;
    flex: 1;
}


.SectionPreview .collection .card .card-info .details-box .details-case-1{
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    justify-content: space-between;
}
.SectionPreview .collection .card .card-info .details-case-1 .btns-box{
    width: 100%;
    display: flex;
    margin-top: auto;
}

.SectionPreview .collection .card .card-info .details-case-1 .title{
    font-size: 12px;
    display: none;
}


.SectionPreview .card .sutle-card-btn {
    color: rgb(215, 213, 213);

    font-size: 12px;
    margin-top: auto;
    border-radius: 2px;
    background-color: rgb(61, 59, 59);
    padding: 3px 5px;
    margin-right: 5px;
}

.SectionPreview .card .sutle-card-btn:hover {
    background-color: rgba(61, 59, 59, 0.976);
    box-shadow: 1px 1px 1.5px rgb(98, 98, 98);
}

.SectionPreview .card .card-info .details-case-2 {
    display: flex;
    gap: 5px;
    margin-left: auto;
    margin-top: auto;
    height: 24px;
}

.SectionPreview .card .rate-text-case {
    height: 100%;
    align-items: center;
    background-color: rgb(24, 24, 24);
    padding: 0 4px;
    border-radius: 2px;
    color: var(--card-rate-primary-color);
    font-size: 11px;
    margin-left: 5px;
}

.SectionPreview .card .vote-btn {
    padding: 2px 1px;
    border-radius: 2px;
}

.SectionPreview .card .vote-btn:hover {
    background: rgba(167, 166, 166, 0.127);
}

.SectionPreview .card .details-case-2 svg {
    color: var(--card-rate-primary-color);
    height: 20px;
}

.SectionPreview .card .details-case-2 .vote-btn.up.clicked svg {
    --color: rgb(173, 233, 167);
    fill: var(--color);
    color: var(--color);
}

.SectionPreview .card .details-case-2 .vote-btn.down.clicked svg {
    --color: rgb(233, 167, 167);
    fill: var(--color);
    color: var(--color);
}

.SectionPreview .collection .card .hidden {
    padding: 0;
    height: 0;
    visibility: hidden;
    transition: visibility 0.2s ease-in-out, height 0.4s ease-in-out, padding 0.4s ease-in-out;
    transition-delay: 0.15s;
}

.SectionPreview .collection .card:hover .hidden {
    height: auto;
    visibility: visible;
}

.SectionPreview .view-all-link {
    margin: auto;
    margin-top: 5px;
    margin-right: 10px;
    color: rgb(255, 255, 202);
    text-decoration: none;
    font-size: 12px;
}
.SectionPreview .view-all-link:hover {
    text-decoration: underline;
}