.signup-page{
    display: flex;
    flex-direction: row;
    padding: 20px 15px;
    margin: auto;
    /* background: #000; */
    width: 100%;
    align-items: center;
    /* justify-content: center; */
    gap: 8vw;
}
.signup-page .signup-form{
    margin-left: auto;
}
.signup-page .responsive-backdrop{
    margin-right: 3vw;
    width: 40vw;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: 50%; /*cover*/
    background-position: center;
    /* background-color: pink; */
}
@media screen and (max-width:1024px) {
    .signup-page{
        position: relative; /*For .signup-page .responsive-backdrop pos: absolute*/
    }
    .signup-page .responsive-backdrop{
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .signup-page .responsive-backdrop::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(39, 36, 36, 0.802);
        width: 100%;
        height: 100%;
    }
    
    .signup-page .signup-form{
        z-index: 1;
        /* background: #000000c4; */

    }
}